footer {
  background: linear-gradient(90deg, #bd2ea1, #4f93fc);
  bottom: 0;
  position: fixed;
  height: auto;
  width: 100%;
}

footer .rodape__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 50px;
}

footer .text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font: 500 14px "DM Sans", sans-serif;
  gap: 7px;
}

footer .text h6 {
  text-transform: uppercase;
}

footer a {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50px;
  color: #121212;
  display: flex;
  font: 600 14px "DM Sans", sans-serif;
  justify-content: center;
  padding-bottom: 2px;
  text-decoration: none;
  transition: all 0.25s ease;
  width: 200px;
}

footer a:hover {
  transform: scale(1.1);
}
