div.main-container {
  max-width: 80vw;
  height: 100vh;
  margin: 0 56px 0 320px;
}

div.main-container header {
  padding: 12px 0;
}

header nav.header__navigation,
section.playlist-container {
  align-items: center;
  background-color: var(--cinza-escuro);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

header nav.header__navigation .navigation {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

header nav.header__navigation .navigation .btn-arrow-left {
  margin-right: 1.25rem;
}

header nav.header__navigation .navigation .btn-arrow-left,
header nav.header__navigation .navigation .btn-arrow-right {
  align-items: center;
  background: var(--bg-arrow-color);
  border: 0 none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 32px;
  width: 32px;
}

header nav.header__navigation .header__search {
  align-items: center;
  background-color: var(--cinza-medio);
  border: 1px solid transparent;
  border-radius: 500px;
  display: flex;
  height: 48px;
  padding: 0 24px;
  width: 364px;
}
header nav.header__navigation .header__search img {
  height: 16px;
  width: 16px;
}
header nav.header__navigation .header__search input {
  border: 0 none;
  background-color: transparent;
  color: var(--branco);
  height: 100%;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

header nav.header__navigation .header__login {
  align-items: center;
  display: flex;
  gap: 15px;
}

header nav.header__navigation .header__login .btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50px;
  color: var(--cinza-claro);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 42px;
  text-decoration: none;
  transition: all 0.25s ease;
}

header nav.header__navigation .header__login .btn:hover {
  color: var(--branco);
}

header nav.header__navigation .header__login .btn-login {
  color: var(--preto);
  background-color: var(--branco);
  width: 100px;
}

header nav.header__navigation .header__login .btn-login:hover {
  background-color: transparent;
  border-color: var(--branco);
}

section.playlist-container {
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

section.playlist-container .text {
  color: var(--branco);
  font: 700 16px var(--fonte);
}

section.playlist-container .text h2 {
  font-size: 32px;
  margin: 12px 0 30px;
}

section.playlist-container .text h3 {
  font-size: 24px;
}

section.playlist-container .offer__list {
  margin-top: 12px;
  max-height: 40vh;
  overflow-y: auto;
}

section.playlist-container .offer__list::-webkit-scrollbar {
  width: 1px;
}

section.playlist-container .offer__list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

section.playlist-container .offer__list .cards {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 16px;
}

section.playlist-container .offer__list .cards a.card {
  border-radius: 8px;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 220px;
}

section.playlist-container .offer__list .cards a.card img {
  bottom: 0;
  max-width: 110px;
  position: absolute;
  right: 0;
  transform: rotate(25deg) translate(18%, -2%);
  transition: all 0.25s ease;
}

section.playlist-container .offer__list .cards a.card span {
  color: var(--branco);
  font-size: 24px;
  font-weight: 700;
  padding: 16px;
  position: absolute;
  width: 75%;
}

section.playlist-container .offer__list .cards a.card:hover img {
  bottom: 0;
  max-width: 110px;
  position: absolute;
  right: 0;
  transform: rotate(25deg) translate(18%, -2%) scale(1.2);
}
