.sidebar {
  background-color: transparent;
  bottom: 0;
  left: 0;
  padding: 12px;
  position: fixed;
  top: 0;
  width: 300px;
}

.sidebar nav ul {
  margin: 10px 0 0;
  padding: 10px 20px;
}

.sidebar nav ul li {
  padding: 10px 0;
}

.sidebar nav ul li a {
  color: var(--cinza-claro);
  text-decoration: none;
  transition: all 0.25s ease;
}

.sidebar nav ul li a:hover {
  color: var(--branco);
}

nav.sidebar__navigation,
nav.sidebar__library {
  background-color: var(--cinza-escuro);
  border-radius: 8px;
  margin: 0 0 10px;
  padding: 16px;
}

nav.sidebar__navigation .logo {
  background-color: var(--cinza-escuro);
  border-radius: 8px;
  display: flex;
  padding: 8px;
}

nav.sidebar__navigation .logo img {
  max-width: 100px;
}

nav.sidebar__library {
  background-color: var(--cinza-escuro);
  border-radius: 8px;
  color: var(--cinza-claro);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 10px 0 0;
  padding: 4px 8px;
}

nav.sidebar__library ul.biblioteca {
  margin: 0;
  padding: 0;
}

nav.sidebar__library ul.biblioteca li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.sidebar__library ul.biblioteca li a {
  background-color: transparent;
  color: var(--cinza-claro);
  border: 0 none;
  display: flex;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 20px 10px;
}

nav.sidebar__library ul.biblioteca li a:hover {
  color: var(--branco);
}

nav.sidebar__library ul.biblioteca li a i {
  font-size: 20px;
  margin: -1px 15px 0 0;
}

nav.sidebar__library ul.biblioteca li i.fa-plus {
  cursor: pointer;
  padding: 0 15px;
}

nav.sidebar__library ul.biblioteca li i.fa-plus:hover {
  color: var(--branco);
}

div.criar-playlist {
  align-items: flex-start;
  background-color: var(--cinza-medio);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  margin: 8px 0;
  padding: 16px 20px;
}

div.criar-playlist .playlist__content {
  color: var(--branco);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 5px;
}

div.criar-playlist .playlist__content h4 {
  font-weight: 700;
}

div.criar-playlist .playlist__content p {
  font-size: 12px;
}

div.criar-playlist button {
  background-color: var(--branco);
  border: 1px solid var(--branco);
  border-radius: 50px;
  color: var(--preto);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding: 10px;
  transition: all 0.25s ease;
  width: 120px;
}

div.criar-playlist button:hover {
  background-color: transparent;
  color: var(--branco);
}

div.cookies {
  margin: 25px 20px;
}

div.cookies a {
  color: var(--cinza-claro);
  font: 500 10px var(--fonte);
  text-decoration: none;
  transition: all 0.25s ease;
}

div.cookies a:hover {
  color: var(--branco);
  text-decoration: underline;
}

div.languages button {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--cinza-claro);
  border-radius: 50px;
  color: var(--branco);
  cursor: pointer;
  font-weight: 700;
  margin: 8px;
  padding: 8px;
  transition: all 0.25s ease;
  width: 180px;
}

div.languages button:hover {
  background-color: var(--branco);
  color: var(--cinza-escuro);
}
